<div class="row">
  <div class="col-lg-12">
    <app-search (result)="updateSigns($event)"></app-search>
  </div>
</div>

<div class="row row-eq-height">
  <app-loader *ngIf="loading"></app-loader>
  <ng-container *ngIf="!loading">
      <app-sign *ngFor="let sign of signs$ | async" [data]="sign" class="col-lg-4 col-md-3 col-xs-12 card"></app-sign>
  </ng-container>

</div>
