$main-font: 'Roboto', sans-serif;

body {
  font-family: $main-font;
}

.signs {
  padding: 30px 0 0 0;

  h1 {
    margin-bottom: 30px;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
