<div class="container signs">
  <div class="row">
    <div class="col-lg-12">
        <h1>Let's talk with hands!</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <app-dictionary></app-dictionary>
      </div>
    </div>
</div>

