
  <img class="card-img-top"[src]="data.image" [alt]="data.name">
  <div class="card-body">
    <h5 class="card-title">{{data.name}}</h5>
    <h6 class="card-subtitle text-muted">Language: {{data.language}}</h6>
    <p class="card-text">{{data.description}}</p>
    <p class="card-text">Categories:</p>
    <ul>
      <li  *ngFor="let category of data.categories">{{category}}</li>
    </ul>
  </div>


