<form [formGroup]="searchForm" novalidate>
  <div class="form-group">
    <label class="center-block">Search:
      <input class="form-control" formControlName="search" placeholder="Search for any word">
    </label>
  </div>
</form>

<p>You are searching for: {{ searchForm.value | json }}</p>
